body
{
  background-color: #F7F2EA;
}
footer
{
  background-color:  #A2BFA5;
}
header
{
  background-color: black;
}
.button{
  background-color: none; 
  border: none;
  color: black; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: right; /* Float the buttons side by side */
  text-decoration: none;
}

.button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.button:after {
  content: "";
  clear: both;
  display: none;
}

/* Add a background color on hover */
.button:hover {
  background-color: #A2BFA5;
  border-radius: 6px;
}
.space{
  height:100px;
}
